<section class="section about">
	<div class="container">
		<div class="row  justify-content-center mb-5">
			<div class="col-lg-8 text-center">
				<span class="text-primary font-extra font-md">About CafeDine</span>
				<h2 class="mt-3 mb-4">We are a modern restaurant in the center of the city </h2>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="fade-up">
				<img src="images/about/img-1.jpg" alt="" class="img-fluid">
				<div class="mt-3">
					<h3>Quality Food</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.impedit maiores fugit illo deserunt!</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
				<img src="images/about/img-2.jpg" alt="" class="img-fluid">
				<div class="mt-3">
					<h3>Friendly place</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.impedit maiores fugit illo deserunt!</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="600">
				<img src="images/about/img-3.jpg" alt="" class="img-fluid">
				<div class="mt-3">
					<h3>Affordable price</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.impedit maiores fugit illo deserunt!</p>
				</div>
			</div>
		</div>
	</div>
</section>