<section class="section video-gallery">
	<div class="container">
		<div class="row  justify-content-center mb-5">
			<div class="col-lg-8 text-center">
				<span class="text-primary font-extra font-md text-capitalize">our gallery</span>
				<h2 class="mt-3 mb-4">Awesome place good decoration to spend quality time</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="video-item mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="00">
					<img src="images/gallery/img-1.jpg" alt="" class="img-fluid">
					<a data-video-id="jrkvirglgaQ" class="videoplay" ><i class="ti-control-play"></i></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="video-item mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
					<img src="images/gallery/img-2.jpg" alt="" class="img-fluid">
					<a data-video-id="Srt3lTmRxzQ" class="videoplay"><i class="ti-control-play"></i></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
				<div class="video-item">
					<img src="images/gallery/img-3.jpg" alt="" class="img-fluid">
					<a data-video-id="1wKDqma9Hl0" class="videoplay" ><i class="ti-control-play"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>