<article class="post post-grid mb-5">
	<div class="post-thumb">
		<a href="blog-single.html"><img src="images/blog/1.jpg" alt="" class="img-fluid w-100"></a>
	</div>

	<div class="blog-meta position-relative">
		<ul class="list-inline">
			<li class="list-inline-item"><a class="post-cat" href="#">cooking</a></li>
			<li class="list-inline-item"><span class="date">Oct 16, 2019</span></li>
			<li class="list-inline-item"><span class="post-comment">| 06 Comment (s)</span></li>
		</ul>
	</div>

	<div class="blog-content">
		<h2 class="mb-3"><a href="blog-single.html">The Festive Season is Approaching</a></h2>
		<p>The little rotter spiffing good time lemon squeezy smashing excuse my French old, cheesed off give us a bell happy days brown bread, blow off Harry barney bobby. Cup of char gormless hors.! </p>

		<a href="blog-single.html" class="btn btn-main mt-3">Read More</a>
	</div>
</article>

<article class="post post-grid mb-5">
	<div class="post-thumb">
		<a href="blog-single.html"><img src="images/blog/2.jpg" alt="" class="img-fluid w-100"></a>
	</div>

	<div class="blog-meta position-relative">
		<ul class="list-inline">
			<li class="list-inline-item"><a class="post-cat" href="#">cooking</a></li>
			<li class="list-inline-item"><span class="date">Oct 16, 2019</span></li>
			<li class="list-inline-item"><span class="post-comment">| 06 Comment (s)</span></li>
		</ul>
	</div>

	<div class="blog-content">
		<h2 class="mb-3"><a href="blog-single.html">Join Us For a Delicious Event</a></h2>
		<p>The little rotter spiffing good time lemon squeezy smashing excuse my French old, cheesed off give us a bell happy days brown bread, blow off Harry barney bobby. Cup of char gormless hors.! </p>

		<a href="blog-single.html" class="btn btn-main mt-3">Read More</a>
	</div>
</article>

<article class="post post-grid mb-5">
	<div class="post-thumb">
		<a href="blog-single.html"><img src="images/blog/3.jpg" alt="" class="img-fluid w-100"></a>
	</div>

	<div class="blog-meta position-relative">
		<ul class="list-inline">
			<li class="list-inline-item"><a class="post-cat" href="#">cooking</a></li>
			<li class="list-inline-item"><span class="date">Oct 16, 2019</span></li>
			<li class="list-inline-item"><span class="post-comment">| 06 Comment (s)</span></li>
		</ul>
	</div>

	<div class="blog-content">
		<h2 class="mb-3"><a href="blog-single.html">Salted chicken fried rice</a></h2>
		<p>The little rotter spiffing good time lemon squeezy smashing excuse my French old, cheesed off give us a bell happy days brown bread, blow off Harry barney bobby. Cup of char gormless hors.! </p>

		<a href="blog-single.html" class="btn btn-main mt-3">Read More</a>
	</div>
</article>


<article class="post post-grid mb-5">
	<div class="post-thumb">
		<a href="blog-single.html"><img src="images/blog/4.jpg" alt="" class="img-fluid w-100"></a>
	</div>

	<div class="blog-meta position-relative">
		<ul class="list-inline">
			<li class="list-inline-item"><a class="post-cat" href="#">cooking</a></li>
			<li class="list-inline-item"><span class="date">Oct 16, 2019</span></li>
			<li class="list-inline-item"><span class="post-comment">| 06 Comment (s)</span></li>
		</ul>
	</div>

	<div class="blog-content">
		<h2 class="mb-3"><a href="blog-single.html">Rastaurex crab with curry</a></h2>
		<p>The little rotter spiffing good time lemon squeezy smashing excuse my French old, cheesed off give us a bell happy days brown bread, blow off Harry barney bobby. Cup of char gormless hors.! </p>

		<a href="blog-single.html" class="btn btn-main mt-3">Read More</a>
	</div>
</article>

