<section class="section chef">
	<div class="container">
		<div class="row  justify-content-center mb-5">
			<div class="col-lg-8 text-center">
				<span class="text-primary font-extra font-md">Meet The Chefs</span>
				<h2 class="mt-3 mb-4">We have experienced and creative chefs to start</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-4" data-aos="fade-up">
				<div class="chef-item mb-5 mb-lg-0 text-center text-lg-left">
					<img src="images/chef/chef_1.jpg" alt="" class="img-fluid">

					<h3 class="mb-0 mt-4">Daniel Graham</h3>
					<p class="text-sm font-weight-bold">Master chef</p>
					<p >Far from the countries Vokalia and Consonantia, there live the blind texts. They live in Bookmarksgrove.</p>

					<ul class="list-inline mb-0">
						<li class="li list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
						<li class="li list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
						<li class="li list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="300">
				<div class="chef-item mb-5 mb-lg-0 text-center text-lg-left">
					<img src="images/chef/chef_2.jpg" alt="" class="img-fluid">

					<h3 class="mb-0 mt-4">Nick Browning</h3>
					<p class="text-sm font-weight-bold">Master chef</p>
					<p>Far from the countries Vokalia and Consonantia, there live the blind texts. They live in Bookmarksgrove.</p>

					<ul class="list-inline  mb-0">
						<li class="li list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
						<li class="li list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
						<li class="li list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-4" data-aos="fade-up" data-aos-delay="600">
				<div class="chef-item mb-5 mb-lg-0 text-center text-lg-left">
					<img src="images/chef/chef_3.jpg" alt="" class="img-fluid">

					<h3 class="mb-0 mt-4">Willium Jack</h3>
					<p class="text-sm font-weight-bold">Master chef</p>
					<p>Far from the countries Vokalia and Consonantia, there live the blind texts. They live in Bookmarksgrove.</p>

					<ul class="list-inline  mb-0">
						<li class="li list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
						<li class="li list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
						<li class="li list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>